The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [16]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!
df=pd.read_csv('data/nobel.csv')

df.tail()

     year    category  ... death_city death_country
995  2023   Chemistry  ...        NaN           NaN
996  2023   Chemistry  ...        NaN           NaN
997  2023  Literature  ...        NaN           NaN
998  2023       Peace  ...        NaN           NaN
999  2023   Economics  ...        NaN           NaN

[5 rows x 18 columns]

In [17]:
# top gender
most_gender = df.groupby(['sex']).agg({'sex':'count'}).rename(columns={'sex': 'count'})
most_gender = most_gender.sort_values(by=['count'], ascending=False)
top_gender = most_gender['count'].idxmax()
print(top_gender)

# top country
most_country = df.groupby(['birth_country']).agg({'birth_country':'count'}).rename(columns={'birth_country': 'count'})
most_country = most_country.sort_values(by=['count'], ascending=False)
top_country = most_country['count'].idxmax()
print(top_country)

Male
United States of America

In [18]:
# max decade usa
df['decade'] = (df['year'] // 10) * 10
USA_by_decade = df.query('birth_country == "United States of America"')
USA_by_decade = USA_by_decade.groupby(['decade']).size().reset_index(name='count')
max_decade_usa = USA_by_decade.loc[USA_by_decade['count'].idxmax(), 'decade']
print(max_decade_usa)

2000

In [19]:
df['female_winner'] = df['sex'] == 'Female'
prop_female_winners = df.groupby(['decade', 'category'], as_index=False)['female_winner'].mean()

# Fixing the syntax error by closing the bracket
max_female_decade_category = prop_female_winners[prop_female_winners['female_winner'] == prop_female_winners['female_winner'].max()][['decade', 'category']]

max_female_dict = {max_female_decade_category['decade'].values[0]: max_female_decade_category['category'].values[0]}
print(max_female_dict)

{2020: 'Literature'}

In [20]:
# first woman

first_female_row = df['sex'].eq('Female').idxmax()
first_woman_name=df.loc[first_female_row,'full_name']
first_woman_category=df.loc[first_female_row,'category']
print(first_woman_name,first_woman_category)

Marie Curie, née Sklodowska Physics

In [21]:
#repeat list

name_counts = df['full_name'].value_counts()
name_counts_df = name_counts.reset_index()
name_counts_df.columns = ['name', 'count']
name_counts_df = name_counts_df.query('count>1')
#org_counts = df['organization_name'].value_counts()
#org_counts_df = org_counts.reset_index()
#org_counts_df.columns = ['name', 'count']
#org_counts_df = org_counts_df.query('count>1')

#repeat_list_df=pd.concat([name_counts_df,org_counts_df],sort=True)
repeat_list=name_counts_df['name'].tolist()

print(repeat_list)

['Comité international de la Croix Rouge (International Committee of the Red Cross)', 'Linus Carl Pauling', 'John Bardeen', 'Frederick Sanger', 'Marie Curie, née Sklodowska', 'Office of the United Nations High Commissioner for Refugees (UNHCR)']